/clase1/Clase1/build/
/Tarea_Clase/nbproject/private/
/Tarea_Clase/build/
/Clase4/nbproject/private/
/Clase4/build/
/Clase_estructura4/nbproject/private/
/Taller1/nbproject/private/
/Taller1/build/
/Clase9/nbproject/private/
/Clase9/build/
/Clase10/nbproject/private/
/Clase10/build/